<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    .btn{
        background-color: #4267B2;
        color: white;
        display: flex;
        align-items: center;
    }
    .btn:hover, .btn:active, .btn:focus{
        color: white;
    }
    .btn img{
        margin-right: 5px;
    }
</style>
<div class="container d-flex align-items-center justify-content-center h-100">
    <p>
        <a class="btn btn-lg" href="#" onClick="logInWithFacebook(); return false;"><f:image src="EXT:social_stream/Resources/Public/f_logo_RGB-White_58.png" width="25"/> Weiter mit Facebook</a>
    </p>
</div>
<script>
    logInWithFacebook = function () {
        FB.login(function (response) {
            if (response.authResponse) {
                if (response.authResponse.accessToken) {
                    window.location.replace('<f:format.raw>{url}</f:format.raw>&access_token=' + response.authResponse.accessToken + '&expires_in=' + response.authResponse.expiresIn);
                }
            } else {
                alert('User cancelled login or did not fully authorize.');
            }
        }, {scope: 'manage_pages, user_posts'});
        return false;
    };
    window.fbAsyncInit = function () {
        FB.init({
            appId: '<f:format.raw>{fbappid}</f:format.raw>',
            cookie: true,
            version: 'v2.2'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
</html>