<f:if condition="{open} == 1">
	<f:link.external target="_blank" rel="nofollow" title="<f:translate key='labels.open' />" uri="{f:if(condition:'{post.id}',then:'www.facebook.com/events/{post.id}',else:'www.facebook.com/{post.page.id}')}" title="{f:if(condition:'{post.metatitle}',then:'{post.metatitle}',else:'{f:format.date(date: post.createdTime, format: \'d.m.Y H:i\')}')}">
		<div class="tx-social-stream-element">

			<f:render partial="Page/Event" arguments="{post:post,maxText:maxText,maxWidth:maxWidth,maxHeight:maxHeight}" />

		</div>
	</f:link.external>
</f:if>
<f:if condition="{open} == 2">
	<f:link.action action="showSingleEvent" arguments="{post : post}" pageUid="{showpage}" title="{f:if(condition:'{post.metatitle}',then:'{post.metatitle}',else:'{f:format.date(date: post.createdTime, format: \'d.m.Y H:i\')}')}">
		<div class="tx-social-stream-element">

			<f:render partial="Page/Event" arguments="{post:post,maxText:maxText,maxWidth:maxWidth,maxHeight:maxHeight}" />

		</div>
	</f:link.action>
</f:if>