<f:if condition="{open} == 1">
	<f:link.external target="_blank" rel="nofollow" title="<f:translate key='labels.open' />" uri="https://www.facebook.com/permalink.php?story_fbid={post.postId}&id={post.page.id}" title="{f:if(condition:'{post.metatitle}',then:'{post.metatitle}',else:'{f:format.date(date: post.createdTime, format: \'d.m.Y H:i\')}')}">
		<div class="tx-social-stream-element">

			<f:render partial="Page/Post" arguments="{post:post,maxText:maxText,maxWidth:maxWidth,maxHeight:maxHeight}" />

		</div>
	</f:link.external>
</f:if>
<f:if condition="{open} == 2">
	<f:link.action action="showSinglePost" arguments="{post : post}" pageUid="{showpage}" title="{f:if(condition:'{post.metatitle}',then:'{post.metatitle}',else:'{f:format.date(date: post.createdTime, format: \'d.m.Y H:i\')}')}">
		<div class="tx-social-stream-element">

			<f:render partial="Page/Post" arguments="{post:post,maxText:maxText,maxWidth:maxWidth,maxHeight:maxHeight}" />

		</div>
	</f:link.action>
</f:if>