<f:alias map="{page:post}">
	<f:link.action action="list" arguments="{viewType:3,page:page}" title="{page.name}" pageUid="{showpage}">
		<li class="tx-social-stream-element">

			<b>{page.name}</b><br/>
			<f:image src="{page.picture.originalResource.publicUrl}" title="{f:if(condition:'{page.picture.originalResource.title}',then:'{page.picture.originalResource.title}',else:'{page.name}')}" alt="{f:if(condition:'{page.picture.originalResource.alternative}',then:'{page.picture.originalResource.alternative}',else:'{page.name}')}" width="{maxWidth}" height="{maxHeight}c"/>
			<p>{page.about}</p>

		</li>
	</f:link.action>
</f:alias>