
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1><f:translate key="labels.singleview" /> {page.name}</h1>

<f:flashMessages />
<f:render partial="Page/Properties" arguments="{page:page}" />

  <br/>
  <br/>
  <f:link.action action="listbe">&lt;- <f:translate key="labels.back" /></f:link.action><br />
  <f:link.action action="token" arguments="{pageRefresh:page.id}" controller="<f:if condition='{page.streamtype}==1'>Facebook</f:if><f:if condition='{page.streamtype}==2'>Instagram</f:if><f:if condition='{page.streamtype}==3'>YouTube</f:if><f:if condition='{page.streamtype}==4'>Twitter</f:if><f:if condition='{page.streamtype}==5'>Xing</f:if><f:if condition='{page.streamtype}==6'>LinkedIn</f:if>"><f:translate key="labels.newToken" /> -&gt;</f:link.action><br />
  <br/>
  <f:link.action action="create" arguments="{page:page,short:1}" controller="<f:if condition='{page.streamtype}==1'>Facebook</f:if><f:if condition='{page.streamtype}==2'>Instagram</f:if><f:if condition='{page.streamtype}==3'>YouTube</f:if><f:if condition='{page.streamtype}==4'>Twitter</f:if><f:if condition='{page.streamtype}==5'>Xing</f:if><f:if condition='{page.streamtype}==6'>LinkedIn</f:if>"><f:translate key="labels.lastPosts" /></f:link.action><br/>
  <f:link.action action="create" arguments="{page:page,short:0}" controller="<f:if condition='{page.streamtype}==1'>Facebook</f:if><f:if condition='{page.streamtype}==2'>Instagram</f:if><f:if condition='{page.streamtype}==3'>YouTube</f:if><f:if condition='{page.streamtype}==4'>Twitter</f:if><f:if condition='{page.streamtype}==5'>Xing</f:if><f:if condition='{page.streamtype}==6'>LinkedIn</f:if>"><f:translate key="labels.allPosts" /></f:link.action><br/>
</f:section>